Strings are immutable

In [41]:
my_city = 'Bangalore'

In [2]:
my_city[-1]

'e'

In [3]:
my_city[0]='M'

TypeError: 'str' object does not support item assignment

In [6]:
a = 'M'

In [10]:
b=a + my_city[1:]

In [12]:
a

'M'

In [13]:
a + my_city[1:]

'Mangalore'

In [14]:
b

'Mangalore'

In [16]:
b+a

'MangaloreM'

In [17]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
c='3'

In [19]:
d='4'

In [20]:
c*d

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
c+d

'34'

In [23]:
my_city * 10

'BangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangalore'

In [24]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

String Methods

In [31]:
my_city.capitalize()

'Bangalore'

In [32]:
my_city.upper()

'BANGALORE'

In [33]:
my_city.lower()

'bangalore'

In [34]:
my_city.split()

['Bangalore']

In [35]:
my_city.split(a)

['Bangalore']

In [38]:
greeting = 'Good Morning!'

In [39]:
greeting.split()

['Good', 'Morning!']

In [42]:
my_city('a')

TypeError: 'str' object is not callable

In [43]:
my_city

'Bangalore'

In [44]:
my_city.split('a')

['B', 'ng', 'lore']

In [45]:
my_city.split('B' 'a')

['', 'ngalore']

In [47]:
my_city.split('Ba')

['', 'ngalore']

my_city.split('g' 'l')

In [51]:
(my_city.split('g')

['Ban', 'alore']

In [53]:
print(my_city.split('g'))

['Ban', 'alore']