In [1]:
# Some useful operations in Python

In [2]:
# Range function

In [3]:
# Range function is useful to create a list of integers.

In [ ]:
# What are *args and *kwargs

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
temp = range(10)

In [6]:
print(range(10))

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# It generates instead of storing

In [22]:
a=1
b=42
range(a,b,5)

range(1, 42, 5)

In [23]:
list(range(1,42,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41]

In [10]:
print(temp)

range(0, 10)

In [11]:
for num in range(50,69,2):
    print(num)

50
52
54
56
58
60
62
64
66
68

In [14]:
# Enumerate function

In [28]:
index_count = 0
for letter in 'abcde':
    print('The number at {} is {}'.format(index_count, letter))
    index_count += 1

The number at 0 is a
The number at 1 is b
The number at 2 is c
The number at 3 is d
The number at 4 is e

In [29]:
# The above operation is quite common, so we enumerate function.

In [34]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [37]:
index_count = 0
word = 'abcde'
for letter in enumerate(word):
    print(letter)
# Here enumerate is indexing the string and outputs the tuple.
# We can tuple unpacking, see the next cell.

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [50]:
index_count = 0
word = 'abcde'
for index_count, word in enumerate(word):
    print(index_count, word)

0 a
1 b
2 c
3 d
4 e

In [46]:
index_count = 0
word = 'abcde'
for index_count, word in enumerate(word):
    print(index_count)
    print(word)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [51]:
# Zip function, something opposite of enumerate function.

In [52]:
my_list1 = [1,2,3]
my_list2 = ['a','b','c']

In [53]:
zip(my_list1, my_list2)
#zip will be created at a particular locaton.

In [56]:
for item in zip(my_list1, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [57]:
# unpacking tuples again

In [59]:
for li1, li2 in zip(my_list1, my_list2):
    print(li1, li2)
# Can be done with more than one list

1 a
2 b
3 c

In [62]:
for li1, li2 in zip(my_list1, my_list2):
    print(li2)

a
b
c

In [63]:
list(zip(my_list1, my_list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [65]:
# in operator
# To check if an object is in the list

In [69]:
2 in my_list1 or 5 in my_list1

True

In [70]:
'b' in my_list2

True

In [71]:
b in my_list2

False

In [73]:
# Works in string as well
'l' in 'Bangalore'

True

In [74]:
'D' in 'Bangalore'

False

In [76]:
# in fuction works in dictionaries as well
'key1' in {'key1': a}

True

In [77]:
type({'key1': a})

dict

In [78]:
'a' in {'key1': a}

False

In [79]:
# in fuction works in dictionar key and values as well
d = {'a':1, 'b':2}
1 in d.values()

True

In [80]:
# in fuction works in dictionar key and values as well
d = {'a':1, 'b':2}
1 in d.keys()

False

In [81]:
# in fuction works in dictionar key and values as well
d = {'a':1, 'b':2}
'a' in d.keys()

True

In [83]:
# min & max functions

In [85]:
min([1,2,3,4,5])

1

In [88]:
max([1,2,3,4,5])
# Make sure the list in paranthesis or any object

5

In [99]:
max((3,5,8),(5,6),(30,-20))

(30, -20)

In [96]:
min(3,5,8)

3

In [101]:
# Random libraries (inbuilt).
# Libraries can also be downloaded.

In [102]:
from random import shuffle

In [109]:
my_list = [1,2,3,4,5,6]
shuffle(my_list)

In [110]:
my_list

[5, 2, 6, 4, 3, 1]

In [111]:
my_list

[5, 2, 6, 4, 3, 1]

In [115]:
my_random = shuffle(my_list)

In [117]:
my_random
# my_random will not return anything

In [119]:
type(my_random)

NoneType

In [118]:
my_list

[2, 1, 6, 4, 5, 3]

In [114]:
# Tuples cannot be shuffled
my_tuple = (1,2,3,4,5)
shuffle(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [120]:
# randint function, to randomly select an integer.
from random import randint

In [121]:
randint(1,100)

57

In [123]:
my_rand = randint(1,100)

In [124]:
my_rand

31

In [125]:
# accepting userinput
input('Enter your place')

Enter your placeBangalore

'Bangalore'

In [127]:
# to save input as a result
place = input('Enter your place')

Enter your placeBangalore

In [128]:
place

'Bangalore'

In [129]:
# It saved as string.

In [130]:
number = input('Enter random number')

Enter random number232

In [134]:
number
# it is saved as a string.

'232'

In [133]:
type(number)

str

In [135]:
# To save as a integer.
number = int(input('Enter random number'))

Enter random number1212

In [137]:
number
# Now we have a integer

1212